<section class="filter-bar container">
	<div class="col-xs-12 box">
		<div class="row">
			<div class="filters col-xs-12 col-sm-9 col-md-8 flex-center-center flex-md-center-start">
				<div class="filter">
					<label for="country-selector" class="filter-label hidden-sm">País</label>
					<select name="country-selector" id="country-selector" class="selectpicker" data-live-search="true">
						<option data-content="<img src='assets/img/flags/VE.svg' class='flag'> Venezuela" data-tokens="venezuela vef bs ven bolivar"value="venezuela">Venezuela</option>
						<option data-content="<img src='assets/img/flags/CO.svg' class='flag'> Colombia" data-tokens="colombia co cop peso colombiano" value="colombia" selected>Colombia</option>
						<option data-content="<img src='assets/img/flags/PE.svg' class='flag'> Perú" data-tokens="peru perú pe sol pen" value="peru">Perú</option>
						<option data-content="<img src='assets/img/flags/EC.svg' class='flag'> Ecuador" data-tokens="ec ecuador usd dólar dólares dolar dolares" value="ecuador">Ecuador</option>
						<option data-content="<img src='assets/img/flags/CL.svg' class='flag'> Chile" data-tokens="cl chile clp peso chileno" value="chile">Chile</option>
					</select>
				</div>
				<div class="filter">
					<label for="currency-selector" class="filter-label hidden-sm">Moneda</label>
					<select name="currency-selector" id="currency-selector" class="selectpicker">
						<option value="sdt-vef">SDT / COP</option>
						<option value="sdt-usd">SDT / USD</option>
					</select>
				</div>
			</div>
			<div class="actions col-xs-12 col-sm-3 col-md-4 flex-center-center flex-md-center-end">
				<a href="@@buttonLink" class="btn btn-md btn-success text-avenir-bold">@@buttonLabel</a>
			</div>
		</div>
	</div>
</section>