<section class="hero container-fluid">
	<div class="row"> 
		<div class="container">
			<div class="col-xs-12 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3 hero-title">
				<h2 class="hero-title-text">@@heroTitle</h2>
				<img src="assets/img/wesend-iso-deco.svg" class="hero-title-deco">
			</div>
		</div>
	</div>
    <img src="assets/img/hero-waves.svg" class="waves">
</section> 