<!-- WeSend Popup-->
<div class="modal fade wesend-leave-popup" id="leave-wesend-popup" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">&times;</span></button>

                <!-- Step 1 -->
                <div class="content row step-1">
                    <div class="col-xs-12 logo-container">
                        <img src="assets/img/wesend-logo-dark.svg" alt="" class="wesend-logo img-responsive">
                    </div>
                    <div class="col-xs-12 wesend-text text-center">
                        <h2 class="title">¿No encontraste lo que buscabas?</h2>
                        <p class="info">Permítenos ayudarte directamente</p>
                    </div>
                    <div class="col-xs-12 wesend-phone-capture text-center">
                        <form class="form">
                            <div class="form-group field-input-phone">
                                <div class="field-group">
                                    <div class="field-addon">
                                        <select name="user-phone-prefix" id="user-phone-prefix" class="selectpicker" data-live-search="true">
                                            <option data-content="<img src='assets/img/flags/CO.svg' class='flag'> +57 <span class='only-dropdown'> - Colombia</span>"
                                                data-tokens="colombia co cop peso colombiano 57 +57" value="57" selected>Colombia</option>
                                            <option data-content="<img src='assets/img/flags/VE.svg' class='flag'> +58 <span class='only-dropdown'> - Venezuela</span>"
                                                data-tokens="venezuela ve ves vef bolivar bolivares 58 +58" value="58">Venezuela</option>
                                            <option data-content="<img src='assets/img/flags/CL.svg' class='flag'> +56 <span class='only-dropdown'> - Chile</span>" data-tokens="Chile cl clp peso chileno 56 +56"
                                                value="56">Chile</option>
                                        </select>
                                    </div>
                                    <input type="number" id="user-phone-number" name="user-phone-number" class="form-control">
                                </div>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-lg btn-send">Enviar</button>
                            </div>
                        </form>
                    </div>
                </div>

                <!-- Step 2 -->
                <div class="content row step-2" style="display: none;">
                    <div class="col-xs-12 logo-container">
                        <img src="assets/img/wesend-logo-dark.svg" alt="" class="wesend-logo img-responsive">
                    </div>
                    <div class="col-xs-12 wesend-text text-center">
                        <p class="info">Para respuesta rápida escríbenos por WhatsApp</p>
                        <a href="#" class="btn btn-lg btn-whatsapp">
                            <span>
                                <i class="icon bx bxl-whatsapp"></i> Soporte WeSend
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Popup -->