<nav class="filter-tabs container flex-center-center">
	<ul class="nav nav-pills">
		<li role="presentation" class="active"><a href="#">Todo</a></li>
		<li role="presentation"><a href="#">Comprar</a></li>
		<li role="presentation"><a href="#">Vender</a></li>
	</ul>
</nav>