@@if (!lock && !outService) {
	<div class="tr trading-item @@operation col-xs-12">
}
@@if (outService && !lock) {
	<div class="tr trading-item @@operation no-service col-xs-12">
		<i class="no-service-icon bx bxs-moon bx-sm" data-toggle="tooltip" data-placement="right" title="Fuera de servicio"></i>
}
@@if (lock) {
	<div class="tr trading-item @@operation locked col-xs-12">
		<a href="#" data-toggle="tooltip" data-placement="right" title="No cumples con los requisitos de la oferta, por favor verifica tu cuenta" class="locked-icon bx bx-lock bx-sm text-grey"></a>
}
		<div class="row flex-center-start flex-sm-center-center trading-item-data">
			<div class="hidden-xs col-sm-1 position-val text-center">@@position</div>
			<div class="col-xs-3 col-sm-2 order-xs-2 price-val text-center">
				<span class="mobile-title visible-xs"><small>COP</small></span>
				@@price
			</div>
			<div class="col-sm-2 hidden-xs limits-val text-center">@@limits.min <span class="sp">-</span> @@limits.max</div>
			<div class="col-xs-8 col-sm-3 col-sm-offset-0 order-xs-1 agent-val">
				@@if (agent.status == 'online') {
					<div class="status-icon online" data-toggle="tooltip" data-placement="bottom" title="Conectado"></div>
				}
				@@if (agent.status == 'offline') {
					<div class="status-icon offline" data-toggle="tooltip" data-placement="bottom" title="Última vez: hace 40 min"></div>
				}
				<div class="agent-name">@@agent.name</div>
				<div class="agent-badges">
					@@if (agent.badges) { 
						@@for (var ab = 0; ab < agent.badges.length; ab++) {
							<i class="badge-icon `+agent.badges[ab].slug+`-icon text-blue" data-toggle="tooltip" data-placement="bottom" title="`+agent.badges[ab].label+`"></i>
						} 
					}
				</div>
				<div class="agent-statistics hidden-xs">(@@agent.statistics.operations / @@agent.statistics.efectivity%)</div>
			</div>
			<div class="col-sm-2 hidden-xs payment-methods-val">
				@@if (payment) { 
					@@for (var pm = 0; pm < payment.length; pm++) { 
						<div class="method pay-method `+payment[pm].slug+`" data-parent-position="@@operation-@@position" data-options="`+payment[pm].slug+`">
							<img src="assets/img/icons/`+payment[pm].slug+`-icon.svg" class="icon" data-toggle="tooltip" data-placement="bottom" title="`+payment[pm].label+`">
						</div>
					} 
				}
			</div>
			<div class="col-xs-1-half flex-center-end flex-md-center-center hidden-xs operation-val">
				@@if (action) { 
					<a href="@@action.link" class="btn btn-action">@@action.label</a>
				}
			</div>
		</div>
		<i class="visible-xs info-expander bx bx-plus bx-md"></i>
		<div class="mobile-data row p-t-20 p-b-20">
			<div class="agent-statistics-val col-xs-12 text-center m-b-10">
				<span class="mobile-title">Transacciones / % efectividad</span>
				<div>@@agent.statistics.operations / @@agent.statistics.efectivity%</div>
			</div>
			<div class="price-val col-xs-12 text-center m-b-10">
				<span class="mobile-title">Precio <small>COP</small></span>
				<div>@@price</div>
			</div>
			<div class="limits-val col-xs-12 text-center m-b-10">
				<span class="mobile-title">Limites <small>COP</small></span>
				<div>@@limits.min <span class="sp">-</span> @@limits.max</div>
			</div>
			@@if (payment) { 
				<div class="col-xs-12 m-b-10 text-center">
					<span class="mobile-title m-b-5">Métodos de pago</span>
					<div class="col-xs-12 payment-methods-val">
							@@for (var pm = 0; pm < payment.length; pm++) { 
								<div class="method pay-method `+payment[pm].slug+`" data-parent-position="@@operation-@@position" data-options="`+payment[pm].slug+`" data-toggle="tooltip" data-placement="bottom" title="`+payment[pm].label+`">
									<img src="assets/img/icons/`+payment[pm].slug+`-icon.svg" class="icon">
								</div>
							} 
					</div>
				</div>
			}
			<div class="col-xs-12 flex-center-center operation-val">
				@@if (action) { 
					<a href="@@action.link" class="btn btn-lg btn-action">@@action.label</a>
				}
			</div>
		</div>
		<div class="payment-options row">
			@@if (paymentOptions.bankTransfer) {
				<div class="pay-options col-xs-12" id="item-@@operation-@@position-pay-options-bank-transfer">
					<h3 class="pay-options-title">Bank Transfer</h3>
					<ul class="pay-method-options">
						@@for(var po = 0; po < paymentOptions.bankTransfer.length; po++) {
							<li data-toggle="tooltip" data-placement="bottom" title="`+paymentOptions.bankTransfer[po].label+`">
								<img src="`+paymentOptions.bankTransfer[po].icon+`" alt="`+paymentOptions.bankTransfer[po].label+`">
							</li>
						}
					</ul>
					<button class="close">&times;</button>
				</div>
			}
			@@if (paymentOptions.cashDeposit) {
				<div class="pay-options col-xs-12" id="item-@@operation-@@position-pay-options-cash-deposit">
					<h3 class="pay-options-title">Cash Deposit</h3>
					<ul class="pay-method-options">
						@@for(var po = 0; po < paymentOptions.cashDeposit.length; po++) {
							<li data-toggle="tooltip" data-placement="bottom" title="`+paymentOptions.cashDeposit[po].label+`">
								<img src="`+paymentOptions.cashDeposit[po].icon+`" alt="`+paymentOptions.cashDeposit[po].label+`">
							</li>
						}
					</ul>
					<button class="close">&times;</button>
				</div>
			}
			@@if (paymentOptions.cryptoCurrency) {
				<div class="pay-options col-xs-12" id="item-@@operation-@@position-pay-options-crypto-currency">
					<h3 class="pay-options-title">Crypto Currency</h3>
					<ul class="pay-method-options">
						@@for(var po = 0; po < paymentOptions.cryptoCurrency.length; po++) {
							<li data-toggle="tooltip" data-placement="bottom" title="`+paymentOptions.cryptoCurrency[po].label+`">
								<img src="`+paymentOptions.cryptoCurrency[po].icon+`" alt="`+paymentOptions.cryptoCurrency[po].label+`">
							</li>
						}
					</ul>
					<button class="close">&times;</button>
				</div>
			}
		</div>
	</div>