<section class="container trading-table">
	<div class="col-xs-12 box p-t-0 p-b-0">
		<div class="row thead fix-header hidden-xs">
			<div class="th col-sm-1 flex-center-center"><span class="hidden-sm">Pos. </span>#</div>
			<div class="th col-sm-2 flex-center-center">
				<select id="price-filter" class="selectpicker show-tick" title="Precio <small>COP</small>">
					<option value="all">Todos</option>
					<option data-content="~ 200 <small>COP</small>" value="200">~ 200</option>
					<option data-content="~ 300 <small>COP</small>" value="300">~ 300</option>
					<option data-content="~ 500 <small>COP</small>" value="500">~ 500</option>
					<option data-content="~ 1,000 <small>COP</small>" value="1000">~ 1,000</option>
				</select>
			</div>
			<div class="th col-sm-2 flex-center-center">
				<select id="limits-filter" class="selectpicker show-tick" title="Límites <small>COP</small>">
					<option value="all">Todos</option>
					<option data-content="~ 100,000 <small>COP</small>" value="100000">~ 100,000</option>
					<option data-content="~ 300,000 <small>COP</small>" value="300000">~ 300,000</option>
					<option data-content="~ 500,000 <small>COP</small>" value="500000">~ 500,000</option>
					<option data-content="~ 1,000,000 <small>COP</small>" value="1000000">~ 1,000,000</option>
				</select>
			</div>
			<div class="th col-sm-3 flex-center-start">
				Agente <small>(transacciones / % efectividad)</small>
			</div>
			<div class="th col-sm-2 flex-center-center">
				<select id="payment-method-filter" class="selectpicker show-tick" title="Método de pago" multiple>
					<option value="all">Todos</option>
					<option data-content="<img src='assets/img/icons/bank-transfer-icon.svg' class='icon'> Bank Transfer" value="bank-transfer">Bank Transfer</option>
					<option data-content="<img src='assets/img/icons/cash-deposit-icon.svg' class='icon'> Cash Deposit" value="cash-deposit">Cash Deposit</option>
					<option data-content="<img src='assets/img/icons/bill-payment-icon.svg' class='icon'> Bill Payment" value="bill-payment">Bill Payment</option>
					<option data-content="<img src='assets/img/icons/cash-in-person-icon.svg' class='icon'> Cash In-person" value="cash-in-person">Cash In-person</option>
					<option data-content="<img src='assets/img/icons/credit-card-icon.svg' class='icon'> Credit Card" value="credit-card">Credit Card</option>
					<option data-content="<img src='assets/img/icons/crypto-currency-icon.svg' class='icon'> Cryto Currency" value="crypto-currency">Crypto Currency</option>
					<option data-content="<img src='assets/img/icons/gift-card-icon.svg' class='icon'> Gift Card" value="gift-card">Gift Card</option>
					<option data-content="<img src='assets/img/icons/online-payment-icon.svg' class='icon'> Online Payment" value="online-payment">Online Payment</option>
					<option data-content="<img src='assets/img/icons/other-icon.svg' class='icon'> Other" value="other">Other</option>
				</select>
			</div>
			<div class="th col-sm-1-half flex-center-center">
				Operación
			</div>
		</div>
		<div class="row tbody">
			@@loop('./trading-item.html', [
				{
					"operation": "buy",
					"position": 1,
					"price": 450,
					"limits": {
						"min": "10,000",
						"max": "10,000,000"
					},
					"agent": {
						"status": "online",
						"name": "John Doe",
						"badges": [
							{
								"label": "Pro agent",
								"slug": "pro-agent"
							}
						],
						"statistics": {
							"operations": 1739,
							"efectivity": 93.83
						}
					},
					"payment": [
						{
							"label": "Transferencia bancaria",
							"slug": "bank-transfer"
						},
						{
							"label": "Efectivo",
							"slug": "cash-deposit"
						}
					],
					"paymentOptions": {
						"bankTransfer": [
							{
								"label": "Bancolombia",
								"icon": "https://dummyimage.com/100x40/999999/fff.jpg&text=Bancolombia"
							},
							{
								"label": "Davivienda",
								"icon": "https://dummyimage.com/100x40/999999/fff.jpg&text=Davivienda"
							},
							{
								"label": "Colpatria",
								"icon": "https://dummyimage.com/100x40/999999/fff.jpg&text=Colpatria"
							}
						],
						"cashDeposit": [
							{
								"label": "Baloto",
								"icon": "https://dummyimage.com/100x40/999999/fff.jpg&text=Baloto"
							},
							{
								"label": "Efecty",
								"icon": "https://dummyimage.com/100x40/999999/fff.jpg&text=Efecty"
							},
							{
								"label": "Daviplata",
								"icon": "https://dummyimage.com/100x40/999999/fff.jpg&text=Daviplata"
							}
						]
					},
					"action": {
						"label": "Comprar",
						"link": "#"
					},
					"lock": false,
					"outService": true
				},
				{
					"operation": "buy",
					"position": 2,
					"price": 500,
					"limits": {
						"min": "10,000",
						"max": "10,000,000"
					},
					"agent": {
						"status": "offline",
						"name": "Andrés Hurtado",
						"badges": [
							{
								"label": "Pro agent",
								"slug": "pro-agent"
							}
						],
						"statistics": {
							"operations": 1739,
							"efectivity": 93.83
						}
					},
					"payment": [
						{
							"label": "Transferencia bancaria",
							"slug": "bank-transfer"
						},
						{
							"label": "Efectivo",
							"slug": "cash-deposit"
						}
					],
					"paymentOptions": {
						"bankTransfer": [
							{
								"label": "Bancolombia",
								"icon": "https://dummyimage.com/100x40/999999/fff.jpg&text=Bancolombia"
							},
							{
								"label": "Davivienda",
								"icon": "https://dummyimage.com/100x40/999999/fff.jpg&text=Davivienda"
							},
							{
								"label": "Colpatria",
								"icon": "https://dummyimage.com/100x40/999999/fff.jpg&text=Colpatria"
							}
						],
						"cashDeposit": [
							{
								"label": "Baloto",
								"icon": "https://dummyimage.com/100x40/999999/fff.jpg&text=Baloto"
							},
							{
								"label": "Efecty",
								"icon": "https://dummyimage.com/100x40/999999/fff.jpg&text=Efecty"
							},
							{
								"label": "Daviplata",
								"icon": "https://dummyimage.com/100x40/999999/fff.jpg&text=Daviplata"
							}
						]
					},
					"action": {
						"label": "Comprar",
						"link": "#"
					},
					"lock": true,
					"outService": true
				},
				{
					"operation": "buy",
					"position": 3,
					"price": 500,
					"limits": {
						"min": "10,000",
						"max": "10,000,000"
					},
					"agent": {
						"status": "online",
						"name": "John Doe",
						"badges": [
							{
								"label": "Pro agent",
								"slug": "pro-agent"
							}
						],
						"statistics": {
							"operations": 1739,
							"efectivity": 93.83
						}
					},
					"payment": [
						{
							"label": "Transferencia bancaria",
							"slug": "bank-transfer"
						},
						{
							"label": "Efectivo",
							"slug": "cash-deposit"
						}
					],
					"paymentOptions": {
						"bankTransfer": [
							{
								"label": "Bancolombia",
								"icon": "https://dummyimage.com/100x40/999999/fff.jpg&text=Bancolombia"
							},
							{
								"label": "Davivienda",
								"icon": "https://dummyimage.com/100x40/999999/fff.jpg&text=Davivienda"
							},
							{
								"label": "Colpatria",
								"icon": "https://dummyimage.com/100x40/999999/fff.jpg&text=Colpatria"
							}
						],
						"cashDeposit": [
							{
								"label": "Baloto",
								"icon": "https://dummyimage.com/100x40/999999/fff.jpg&text=Baloto"
							},
							{
								"label": "Efecty",
								"icon": "https://dummyimage.com/100x40/999999/fff.jpg&text=Efecty"
							},
							{
								"label": "Daviplata",
								"icon": "https://dummyimage.com/100x40/999999/fff.jpg&text=Daviplata"
							}
						]
					},
					"action": {
						"label": "Comprar",
						"link": "#"
					},
					"lock": false,
					"outService": false
				},
				{
					"operation": "buy",
					"position": 4,
					"price": 500,
					"limits": {
						"min": "10,000",
						"max": "10,000,000"
					},
					"agent": {
						"status": "online",
						"name": "John Doe",
						"badges": [
							{
								"label": "Pro agent",
								"slug": "pro-agent"
							}
						],
						"statistics": {
							"operations": 1739,
							"efectivity": 93.83
						}
					},
					"payment": [
						{
							"label": "Transferencia bancaria",
							"slug": "bank-transfer"
						},
						{
							"label": "Efectivo",
							"slug": "cash-deposit"
						}
					],
					"paymentOptions": {
						"bankTransfer": [
							{
								"label": "Bancolombia",
								"icon": "https://dummyimage.com/100x40/999999/fff.jpg&text=Bancolombia"
							},
							{
								"label": "Davivienda",
								"icon": "https://dummyimage.com/100x40/999999/fff.jpg&text=Davivienda"
							},
							{
								"label": "Colpatria",
								"icon": "https://dummyimage.com/100x40/999999/fff.jpg&text=Colpatria"
							}
						],
						"cashDeposit": [
							{
								"label": "Baloto",
								"icon": "https://dummyimage.com/100x40/999999/fff.jpg&text=Baloto"
							},
							{
								"label": "Efecty",
								"icon": "https://dummyimage.com/100x40/999999/fff.jpg&text=Efecty"
							},
							{
								"label": "Daviplata",
								"icon": "https://dummyimage.com/100x40/999999/fff.jpg&text=Daviplata"
							}
						]
					},
					"action": {
						"label": "Comprar",
						"link": "#"
					},
					"lock": false,
					"outService": false
				},
				{
					"operation": "buy",
					"position": 5,
					"price": 500,
					"limits": {
						"min": "10,000",
						"max": "10,000,000"
					},
					"agent": {
						"status": "online",
						"name": "John Doe",
						"badges": [
							{
								"label": "Pro agent",
								"slug": "pro-agent"
							}
						],
						"statistics": {
							"operations": 1739,
							"efectivity": 93.83
						}
					},
					"payment": [
						{
							"label": "Transferencia bancaria",
							"slug": "bank-transfer"
						},
						{
							"label": "Efectivo",
							"slug": "cash-deposit"
						}
					],
					"paymentOptions": {
						"bankTransfer": [
							{
								"label": "Bancolombia",
								"icon": "https://dummyimage.com/100x40/999999/fff.jpg&text=Bancolombia"
							},
							{
								"label": "Davivienda",
								"icon": "https://dummyimage.com/100x40/999999/fff.jpg&text=Davivienda"
							},
							{
								"label": "Colpatria",
								"icon": "https://dummyimage.com/100x40/999999/fff.jpg&text=Colpatria"
							}
						],
						"cashDeposit": [
							{
								"label": "Baloto",
								"icon": "https://dummyimage.com/100x40/999999/fff.jpg&text=Baloto"
							},
							{
								"label": "Efecty",
								"icon": "https://dummyimage.com/100x40/999999/fff.jpg&text=Efecty"
							},
							{
								"label": "Daviplata",
								"icon": "https://dummyimage.com/100x40/999999/fff.jpg&text=Daviplata"
							}
						]
					},
					"action": {
						"label": "Comprar",
						"link": "#"
					},
					"lock": false,
					"outService": false
				},
				{
					"operation": "sell",
					"position": 1,
					"price": 450,
					"limits": {
						"min": "10,000",
						"max": "10,000,000"
					},
					"agent": {
						"status": "online",
						"name": "John Doe",
						"badges": [
							{
								"label": "Pro agent",
								"slug": "pro-agent"
							}
						],
						"statistics": {
							"operations": 1739,
							"efectivity": 93.83
						}
					},
					"payment": [
						{
							"label": "Transferencia bancaria",
							"slug": "bank-transfer"
						},
						{
							"label": "Efectivo",
							"slug": "cash-deposit"
						}
					],
					"paymentOptions": {
						"bankTransfer": [
							{
								"label": "Bancolombia",
								"icon": "https://dummyimage.com/100x40/999999/fff.jpg&text=Bancolombia"
							},
							{
								"label": "Davivienda",
								"icon": "https://dummyimage.com/100x40/999999/fff.jpg&text=Davivienda"
							},
							{
								"label": "Colpatria",
								"icon": "https://dummyimage.com/100x40/999999/fff.jpg&text=Colpatria"
							}
						],
						"cashDeposit": [
							{
								"label": "Baloto",
								"icon": "https://dummyimage.com/100x40/999999/fff.jpg&text=Baloto"
							},
							{
								"label": "Efecty",
								"icon": "https://dummyimage.com/100x40/999999/fff.jpg&text=Efecty"
							},
							{
								"label": "Daviplata",
								"icon": "https://dummyimage.com/100x40/999999/fff.jpg&text=Daviplata"
							}
						]
					},
					"action": {
						"label": "Vender",
						"link": "#"
					},
					"lock": false,
					"outService": false
				},
				{
					"operation": "sell",
					"position": 2,
					"price": 500,
					"limits": {
						"min": "10,000",
						"max": "10,000,000"
					},
					"agent": {
						"status": "offline",
						"name": "Andrés Hurtado",
						"badges": [
							{
								"label": "Pro agent",
								"slug": "pro-agent"
							}
						],
						"statistics": {
							"operations": 1739,
							"efectivity": 93.83
						}
					},
					"payment": [
						{
							"label": "Transferencia bancaria",
							"slug": "bank-transfer"
						},
						{
							"label": "Efectivo",
							"slug": "cash-deposit"
						}
					],
					"paymentOptions": {
						"bankTransfer": [
							{
								"label": "Bancolombia",
								"icon": "https://dummyimage.com/100x40/999999/fff.jpg&text=Bancolombia"
							},
							{
								"label": "Davivienda",
								"icon": "https://dummyimage.com/100x40/999999/fff.jpg&text=Davivienda"
							},
							{
								"label": "Colpatria",
								"icon": "https://dummyimage.com/100x40/999999/fff.jpg&text=Colpatria"
							}
						],
						"cashDeposit": [
							{
								"label": "Baloto",
								"icon": "https://dummyimage.com/100x40/999999/fff.jpg&text=Baloto"
							},
							{
								"label": "Efecty",
								"icon": "https://dummyimage.com/100x40/999999/fff.jpg&text=Efecty"
							},
							{
								"label": "Daviplata",
								"icon": "https://dummyimage.com/100x40/999999/fff.jpg&text=Daviplata"
							}
						]
					},
					"action": {
						"label": "Vender",
						"link": "#"
					},
					"lock": false,
					"outService": false
				},
				{
					"operation": "sell",
					"position": 3,
					"price": 500,
					"limits": {
						"min": "10,000",
						"max": "10,000,000"
					},
					"agent": {
						"status": "online",
						"name": "John Doe",
						"badges": [
							{
								"label": "Pro agent",
								"slug": "pro-agent"
							}
						],
						"statistics": {
							"operations": 1739,
							"efectivity": 93.83
						}
					},
					"payment": [
						{
							"label": "Transferencia bancaria",
							"slug": "bank-transfer"
						},
						{
							"label": "Efectivo",
							"slug": "cash-deposit"
						}
					],
					"paymentOptions": {
						"bankTransfer": [
							{
								"label": "Bancolombia",
								"icon": "https://dummyimage.com/100x40/999999/fff.jpg&text=Bancolombia"
							},
							{
								"label": "Davivienda",
								"icon": "https://dummyimage.com/100x40/999999/fff.jpg&text=Davivienda"
							},
							{
								"label": "Colpatria",
								"icon": "https://dummyimage.com/100x40/999999/fff.jpg&text=Colpatria"
							}
						],
						"cashDeposit": [
							{
								"label": "Baloto",
								"icon": "https://dummyimage.com/100x40/999999/fff.jpg&text=Baloto"
							},
							{
								"label": "Efecty",
								"icon": "https://dummyimage.com/100x40/999999/fff.jpg&text=Efecty"
							},
							{
								"label": "Daviplata",
								"icon": "https://dummyimage.com/100x40/999999/fff.jpg&text=Daviplata"
							}
						]
					},
					"action": {
						"label": "Vender",
						"link": "#"
					},
					"lock": false,
					"outService": false
				},
				{
					"operation": "sell",
					"position": 4,
					"price": 500,
					"limits": {
						"min": "10,000",
						"max": "10,000,000"
					},
					"agent": {
						"status": "online",
						"name": "John Doe",
						"badges": [
							{
								"label": "Pro agent",
								"slug": "pro-agent"
							}
						],
						"statistics": {
							"operations": 1739,
							"efectivity": 93.83
						}
					},
					"payment": [
						{
							"label": "Transferencia bancaria",
							"slug": "bank-transfer"
						},
						{
							"label": "Efectivo",
							"slug": "cash-deposit"
						},
						{
							"label": "Bill Payment",
							"slug": "bill-payment"
						},
						{
							"label": "Online Payment",
							"slug": "online-payment"
						},
						{
							"label": "Gift Card",
							"slug": "gift-card"
						},
						{
							"label": "Cash in-person",
							"slug": "cash-in-person"
						},
						{
							"label": "ATM",
							"slug": "atm"
						},
						{
							"label": "Credit Card",
							"slug": "credit-card"
						},
						{
							"label": "Crypto Currency",
							"slug": "crypto-currency"
						}, 
						{
							"label": "Other",
							"slug": "other"
						}
					],
					"paymentOptions": {
						"bankTransfer": [
							{
								"label": "Bancolombia",
								"icon": "https://dummyimage.com/100x40/999999/fff.jpg&text=Bancolombia"
							},
							{
								"label": "Davivienda",
								"icon": "https://dummyimage.com/100x40/999999/fff.jpg&text=Davivienda"
							},
							{
								"label": "Colpatria",
								"icon": "https://dummyimage.com/100x40/999999/fff.jpg&text=Colpatria"
							}
						],
						"cashDeposit": [
							{
								"label": "Baloto",
								"icon": "https://dummyimage.com/100x40/999999/fff.jpg&text=Baloto"
							},
							{
								"label": "Efecty",
								"icon": "https://dummyimage.com/100x40/999999/fff.jpg&text=Efecty"
							},
							{
								"label": "Daviplata",
								"icon": "https://dummyimage.com/100x40/999999/fff.jpg&text=Daviplata"
							}
						],
						"cryptoCurrency": [
							{
								"label": "Etherium",
								"icon": "https://dummyimage.com/100x40/999999/fff.jpg&text=ETH"
							},
							{
								"label": "BitCoin",
								"icon": "https://dummyimage.com/100x40/999999/fff.jpg&text=BTC"
							},
							{
								"label": "LiteCoin",
								"icon": "https://dummyimage.com/100x40/999999/fff.jpg&text=LTC"
							}
						]
					},
					"action": {
						"label": "Vender",
						"link": "#"
					},
					"lock": false,
					"outService": false
				},
				{
					"operation": "sell",
					"position": 5,
					"price": 500,
					"limits": {
						"min": "10,000",
						"max": "10,000,000"
					},
					"agent": {
						"status": "online",
						"name": "John Doe",
						"badges": [
							{
								"label": "Pro agent",
								"slug": "pro-agent"
							}
						],
						"statistics": {
							"operations": 1739,
							"efectivity": 93.83
						}
					},
					"payment": [
						{
							"label": "Transferencia bancaria",
							"slug": "bank-transfer"
						},
						{
							"label": "Efectivo",
							"slug": "cash-deposit"
						}
					],
					"paymentOptions": {
						"bankTransfer": [
							{
								"label": "Bancolombia",
								"icon": "https://dummyimage.com/100x40/999999/fff.jpg&text=Bancolombia"
							},
							{
								"label": "Davivienda",
								"icon": "https://dummyimage.com/100x40/999999/fff.jpg&text=Davivienda"
							},
							{
								"label": "Colpatria",
								"icon": "https://dummyimage.com/100x40/999999/fff.jpg&text=Colpatria"
							}
						],
						"cashDeposit": [
							{
								"label": "Baloto",
								"icon": "https://dummyimage.com/100x40/999999/fff.jpg&text=Baloto"
							},
							{
								"label": "Efecty",
								"icon": "https://dummyimage.com/100x40/999999/fff.jpg&text=Efecty"
							},
							{
								"label": "Daviplata",
								"icon": "https://dummyimage.com/100x40/999999/fff.jpg&text=Daviplata"
							}
						]
					},
					"action": {
						"label": "Vender",
						"link": "#"
					},
					"lock": false,
					"outService": false
				}
			])
		</div>
	</div>
</section>
<nav class="trading-nav container text-center" aria-label="Trading list navigation">
	<ul class="pagination box p-0">
		<li>
			<a href="#" aria-label="Previous">
				<span aria-hidden="true">&laquo;</span>
			</a>
		</li>
		<li class="active"><a href="#">1</a></li>
		<li><a href="#">2</a></li>
		<li><a href="#">3</a></li>
		<li><a href="#">4</a></li>
		<li><a href="#">5</a></li>
	    <li>
	      <a href="#" aria-label="Next">
	        <span aria-hidden="true">&raquo;</span>
	      </a>
	    </li>
	</ul>
</nav>