body {
	background-color: color(grey-lighter);
	color: color(grey-darker);
}
a {
	color: color(blue);
	&:hover, &:focus, &:active {
		text-decoration: none;
	} 
}
.container {
	max-width: 960px;
	margin-bottom: 30px;
}