.filter-bar {
	margin-top: -50px;
	.filters {
		.filter {
			margin-right: 10px;
			.filter-label {
				margin-right: 5px;
			}
			.dropdown {
				.dropdown-toggle {
					&:hover, &:focus, &:active {
						border-color: color(grey-light);
						outline: none !important;
					}
				}
				&.open {
					background: none;
					box-shadow: none;
					.dropdown-toggle {
						background-color: color(white);
						border-radius: 3px 3px 0 0;
						border-bottom-color: transparent;
						&:hover, &:focus, &:active {
							outline: none !important;
						}
					}
					.form-control {
						border-color: color(grey-light);
						&:hover, &:focus, &:active {
							outline: none !important;
							border-color: color(grey-light);
						}
					}
					div.dropdown-menu {
						border: 1px solid color(grey-light);
						border-top-color: transparent;
						border-radius: 0 0 3px 3px;
						margin-top: 0;
						box-shadow: $shadow-1;
					}
					ul.dropdown-menu {
						background: none;
						li {
							&.selected {
								a {
									background-color: color(grey-light);
								}
							}
							&.active {
								a {
									background-color: color(blue);
								}
							}
						}
					}
				}
			}
		}
		@media (max-width: $screen-xs-max) {
			margin-bottom: 15px;
			.filter {
				width: 100%;
				margin-bottom: 10px;
				&:last-child {
					margin-bottom: 0;
				}
				.dropdown {
					width: 100%;
				}
			}
		}
		@media (max-width: $screen-sm-max) {
			.filter {
				.filter-label {
					display: block;
				}
			}
		}
	}
	.actions {
		.btn {
			padding: 10px 15px;
		}
		@media (max-width: $screen-xs-max) {
			.btn {
				width: 100%;
				margin-bottom: 10px;
				&:last-child {
					margin-bottom: 0;
				}
			}
		}
	}
}