.hero {
	background-color: color(blue);
	padding-top: 50px;
	padding-bottom: 80px;
	position: relative;
	color: color(white); 
	min-height: 200px;
	.waves {
		position: absolute;
		width: 100%;
		height: 400px;
		bottom: 0;
		left: 0;
		object-fit: cover;
		object-position: top;
		pointer-events: none;
		z-index: 0;
	}
	.hero-title {
		position: relative;
		.hero-title-text {
			@extend .text-center;
			@include avenir(normal);
			font-size: 32px;
			position: relative;
			z-index: 2;
		}
		.hero-title-deco {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate3d(-50%, -50%, 0);
			z-index: 1;
			max-width: 230px;
			pointer-events: none;
		}
	}
	@media (max-width: $screen-xs-max) {
		.hero-title {
			.hero-title-text {
				font-size: 26px;
			}
			.hero-title-deco {
				max-width: 180px;
			}
		}
		.waves {
			object-fit: contain;
			object-position: bottom;
		}
	}
}