.filter-tabs {
	margin-bottom: 20px;
	.nav {
		li {
			a {
				background: none;
				border-radius: 0;
				@include avenir(normal);
				font-size: 16px;
				color: color(grey-blue);
				border-right: 1px solid rgba(color(grey), .2);
				&:hover, 
				&:focus, 
				&:active {
					color: color(blue);
					opacity: .5;
				}
			}
			&.active {
				a {
					background: none;
					color: color(blue);
					&:hover, 
					&:focus, 
					&:active {
						opacity: 1;
					}
				}
			}
			&:last-child {
				a {
					border-right: none;
				}
			}
		}
	}
}