.wesend-leave-popup {
    .modal-dialog {
        max-width: 500px;
        @media (max-width: $screen-xs-max) {
            max-width: 100%;
        }
        .modal-content {
            box-shadow: $shadow-1;
            border: none;
            .modal-body {
                padding-top: 30px;
                padding-bottom: 30px;
                .close {
                    position: absolute;
                    top: 10px;
                    right: 10px;
                }
                .content {
                    .logo-container {
                        margin-bottom: 20px;
                        .wesend-logo {
                            max-width: 200px;
                            @extend .center-block;
                        }
                    }
                    .wesend-text {
                        margin-bottom: 20px;
                        &:last-child {
                            margin-bottom: 0;
                        }
                        .title {
                            @include avenir(bold);
                            font-size: 34px;
                            color: color(blue);
                            margin-bottom: 20px;
                            margin-top: 0;
                        }
                        .info {
                            @include avenir(normal);
                            font-size: 22px;
                            color: color(grey-blue);
                        }
                        .btn-whatsapp {
                            background: brand-color(whatsapp);
                            color: color(white);
                            @include avenir(bold);
                            font-size: 18px;
                            border: none;
                            box-shadow: $shadow-1;
                            .icon {
                                font-size: 30px;
                                margin-right: 10px;
                            }
                            span {
                                @extend .flex-center-center;
                            }
                        }
                        @media (max-width: $screen-xs-max) {
                            .title {
                                font-size: 28px;
                            }
                            .info {
                                font-size: 18px;
                            }
                        }
                    }
                    .wesend-phone-capture {
                        .form-group {
                            margin-bottom: 0;
                        }
                        .field-input-phone {
                            max-width: 300px;
                            min-height: 42px;
                            @extend .center-block;
                            margin-bottom: 20px;
                            .field-group {
                                .field-addon {
                                    width: 120px;
                                    height: 40px;
                                    float: left;
                                    .dropdown {
                                        max-width: 100%;
                                        > .dropdown-menu {
                                            width: 150%;
                                        }
                                        .dropdown-toggle {
                                            border-radius: 3px 0 0 3px;
                                            border-collapse: #ddd;
                                            .filter-option {
                                                .only-dropdown {
                                                    display: none;
                                                }
                                            }
                                        }
                                    }
                                }
                                > .form-control {
                                    float: left;
                                    width: calc(100% - 120px);
                                    border-left: none;
                                    height: 42px;
                                    border-color: #ddd;
                                    border-radius: 3px;
                                    box-shadow: none;
                                }
                            }
                        }
                        .btn-send {
                            background-color: color(blue);
                            color: color(white);
                            @include avenir(bold);
                            font-size: 18px;
                            padding-left: 20px;
                            padding-right: 20px;
                            border: none;
                            box-shadow: $shadow-1;
                        }
                    }
                }
            }
        }
    }
}