.trading-table {
	$thgutter: 6px;
	$thsp: $thgutter / 2;
	.thead {
		background-color: rgba(color(grey-blue), .1);
		.icon {
			width: 15px;
		}
		.th {
			min-height: 40px;
		}
		.th, .btn {
			@include avenir(bold);
			font-size: 12px;
			color: color(grey-blue);
			small {
				font-size: 80%;
				color: color(grey);
				margin-left: 2px;
			}
		}
		.btn {
			border-radius: 0;
			border-color: transparent;
			background: none;
		}
		.dropdown {
			.dropdown-toggle {
				border: none;
				&:hover, &:focus, &:active {
					border-color: color(grey-light);
					outline: none !important;
				}
			}
			&.open {
				background: none;
				box-shadow: none;
				z-index: 10;
				.dropdown-toggle {
					border: none;
					background: none;
					z-index: 1001;
					.caret {
						display: none;
					}
					&:hover, &:focus, &:active {
						outline: none !important;
					}
				}
				.form-control {
					border-color: color(grey-light);
					&:hover, &:focus, &:active {
						outline: none !important;
						border-color: color(grey-light);
					}
				}
				div.dropdown-menu {
					border: 1px solid color(grey-light);
					border-radius: 0 0 3px 3px;
					margin-top: 0;
					box-shadow: $shadow-1;
					padding-top: 50px;
					padding-bottom: 10px;
					padding-left: 10px;
					padding-right: 10px;
					top: -10px;
					left: -10px;
					z-index: 1000;	
				}
				ul.dropdown-menu {
					background: none;
					border-top: none;
					li {
						&.selected {
							a {
								background-color: none;
							}
							span.check-mark {
								top: 50%;
								transform: translateY(-50%);
								color: color(grey-blue);
							}
						}
						&.active {
							a {
								background: none;
								color: color(grey-blue);
								small {
									color: color(grey);
								}
							}
						}
					}
				}
			}
		}
	}
	.tbody {
	}
}
$trading-item-spacer: $trading-item-gutter / 2;
.trading-item {
	@include avenir(bold);
	font-size: 13px;
	color: color(grey-blue);
	padding-top: $trading-item-spacer;
	padding-bottom: $trading-item-spacer;
	position: relative;
	transition: .3s ease-in-out;
	border-bottom: 1px solid rgba(color(grey), .2);
	&:last-child {
		border-bottom: none;
	}
	@media (min-width: $screen-md-min) {
		&:hover {
			background-color: rgba(color(grey-blue), .05);
		}
	}
	.limits-val {
		.sp {
			color: color(grey);
		}
		@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
			.sp {
				display: block;
			}
		}
	}
	.mobile-title {
		@include avenir(bold);
		font-size: 14px;
		line-height: 10px;
		color: color(grey-blue) !important;
		opacity: .5;
		small {
			@include avenir(normal);
			font-size: 70%;
		}
	}
	.agent-val {
		@extend .flex-center-start;
		position: relative;
		.status-icon {
			width: 8px;
			height: 8px;
			border-radius: 50%;
			background: color(grey);
			margin-right: 5px;
			&.online {
				background: color(green-2);
			}
		}
		.badge-icon {
			position: relative;
			&.pro-agent-icon {
				top: 2px;
			}
		}
		.agent-name {
			margin-right: 5px;
			font-size: 14px;
		}
		.agent-badges {
			margin-right: 5px;
		}
		.agent-statistics {
			color: color(grey);
		}
		@media (max-width: $screen-xs-max) {
			padding-left: 20px;
			.status-icon {
				position: absolute;
				top: 6px;
				left: 5px;
			}
			.agent-statistics {
				width: 100%;
				display: block;
			}
		}
	}
	.payment-methods-val {
		@extend .flex-center-center;
		.method {
			padding: 5px;
			.icon {
				width: 15px;
			}
			&.cash-deposit,
			&.online-payment,
			&.crypto-currency,
			&.gift-card,
			&.credit-card {
				.icon {
					width: 20px;
				}
			}
		}
	}
	.operation-val {
		.btn {
			@include avenir(bold);
			padding: 2px 5px;
			font-size: 12px;
			&:hover, 
			&:focus, 
			&:active {
				color: color(white);
			}
			@media (max-width: $screen-xs-max) {
				padding: 5px 10px;
				font-size: 14px;
			}
		}
	}
	.trading-item-data {
		min-height: 30px;
	}
	.mobile-data {
		display: none;
	}
	.info-expander {
		display: block;
		position: absolute;
		right: 10px;
		top: 15px;
		pointer-events: none;
	}
	.no-service-icon {
		display: block;
		position: absolute;
		top: 18px;
		left: 10px;
		opacity: 1;
		z-index: 10;
		pointer-events: all;
		color: color(grey);
		@media (max-width: $screen-xs-max) {
			left: 2px;
		}
	}
	&.buy {
		.position-val,
		.price-val {
			color: color(green);
		}
		.operation-val {
			.btn {
				border-color: color(green);
				color: color(green);
				&:hover, 
				&:focus, 
				&:active {
					color: color(white);
					background: color(green);
				}
			}
		}
	}
	&.sell {
		.position-val,
		.price-val {
			color: color(red);
		}
		.operation-val {
			.btn {
				border-color: color(red);
				color: color(red);
				&:hover, 
				&:focus, 
				&:active {
					color: color(white);
					background: color(red);
				}
			}
		}
	}
	&.locked {
		cursor: not-allowed;
		background-color: rgba(color(grey), .05);
		&:hover {
			background-color: rgba(color(grey), .05);
		}
		* {
			&:not(.tooltip) {
				filter: grayscale(2);
				color: color(grey);
				opacity: .8;
				pointer-events: none;
			}
		}

		.trading-item-data {
			pointer-events: all;
		}
		.tooltip{
			opacity: 1;
			z-index: 10;
			color: color(white);
			font-size: 14px;
			cursor: default;
			pointer-events: all;
			.tooltip-arrow, .tooltip-inner {
				opacity: 1;
				filter: none;
				cursor: default;
				pointer-events: all;
			}
			.tooltip-inner {
				text-align: left;
				color: color(white) !important;
			}
		}
		.locked-icon {
			display: block;
			position: absolute;
			top: 20px;
			left: 10px;
			opacity: 1;
			z-index: 10;
			pointer-events: all;
			color: color(grey);
			@media (max-width: $screen-xs-max) {
				left: 2px;
			}
		}
		.info-expander {
			opacity: 1;
			filter: none;
			color: color(grey-blue);
		}
		@media (max-width: $screen-xs-max) {
			.agent-val {
				.status-icon {
					display: none;
				}
			}
		}
		.no-service-icon {
			display: none;
		}
		.operation-val {
			.btn {
				border-color: color(grey) !important;
				color: color(grey) !important;
				pointer-events: none;
				&:hover,
				&:focus, 
				&:active {
					border-color: color(grey) !important;
					background: color(white) !important;
					color: color(grey) !important;
				}
			}
		}
	}
	&.no-service {
		.operation-val {
			.btn {
				border-color: color(grey) !important;
				color: color(grey) !important;
				&:hover,
				&:focus, 
				&:active {
					border-color: color(grey) !important;
					background: transparent !important;
					color: color(grey) !important;
				}
			}
		}
		@media (max-width: $screen-xs-max) {
			.agent-val {
				.status-icon {
					display: none;
				}
			}
		}
	}
	&.expanded-item {
		.mobile-data {
			display: block;
		}
		.info-expander {
			transform: rotate(45deg);
		}
		.trading-item-data {
			.price-val {
				display: none;
			}
		}
		.locked-icon, .no-service-icon {
			top: 25px;
		}
	}
	.payment-options {
		.pay-options {
			display: none;
			border-top: 1px solid rgba(color(grey), .1);
			text-align: center;
			position: relative;
			margin-top: 5px;
			.pay-options-title {
				@include avenir(bold);
				font-size: 14px;
				margin-bottom: 10px;
				margin-top: 10px;
				padding-top: 0;
			}
			.pay-method-options {
				text-align: center;
				list-style: none;
				padding: 0;
				margin: 0;
				li {
					display: inline-block;
					margin: 0 3px 6px;
				}
			}
			.close {
				position: absolute;
				top: 5px;
				right: 5px;
			}
			&.show {
				display: block;
			}
		}
	}
}
.trading-nav {
	margin-top: -30px;
}