.box {
    background-color: color(white);
    border: 1px solid #e8e8e8;
    box-shadow: 5px -5px 20px rgba(155, 181, 193, .1),
                -5px 5px 20px rgba(155, 181, 193, .1);
    border-radius: 3px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.flex {
    display: flex;
}

.flex-row {
    flex-direction: row;
}

.flex-column {
    flex-direction: column;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-center-center {
    @extend .flex;
    @extend .flex-row;
    @extend .flex-wrap;
    align-items: center;
    align-content: center;
    justify-content: center;
    .row {
        width: 100%;
    }
}

.flex-start-center {
    @extend .flex;
    @extend .flex-row;
    @extend .flex-wrap;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: center;
    .row {
        width: 100%;
    }
}

.flex-start-start {
    @extend .flex;
    @extend .flex-row;
    @extend .flex-wrap;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    .row {
        width: 100%;
    }
}

.flex-end-center {
    @extend .flex;
    @extend .flex-row;
    @extend .flex-wrap;
    align-items: flex-end;
    align-content: flex-end;
    justify-content: center;
    .row {
        width: 100%;
    }
}

.flex-end-end {
    @extend .flex;
    @extend .flex-row;
    @extend .flex-wrap;
    align-items: flex-end;
    align-content: flex-end;
    justify-content: flex-end;
    .row {
        width: 100%;
    }
}

.flex-center-end {
    @extend .flex;
    @extend .flex-row;
    @extend .flex-wrap;
    align-items: center;
    align-content: center;
    justify-content: flex-end;
    .row {
        width: 100%;
    }
}

.flex-center-start {
    @extend .flex;
    @extend .flex-row;
    @extend .flex-wrap;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    .row {
        width: 100%;
    }
}
.flex-stretch {
	@extend .flex;
	@extend .flex-wrap;
	@extend .flex-row;
	align-items: stretch;
	align-content: stretch;
	justify-content: center;
}
@media (min-width: $screen-md-min) {
	.flex-md {
	    display: flex;
	}

	.flex-md-row {
	    flex-direction: row;
	}

	.flex-md-column {
	    flex-direction: column;
	}

	.flex-md-wrap {
	    flex-wrap: wrap;
	}

	.flex-md-center-center {
	    align-items: center;
	    align-content: center;
	    justify-content: center;
	}

	.flex-md-start-center {
	    align-items: flex-start;
	    align-content: flex-start;
	    justify-content: center;
	}

	.flex-md-start-start {
	    align-items: flex-start;
	    align-content: flex-start;
	    justify-content: flex-start;
	}

	.flex-md-end-center {
	    align-items: flex-end;
	    align-content: flex-end;
	    justify-content: center;
	}

	.flex-md-end-end {
	    align-items: flex-end;
	    align-content: flex-end;
	    justify-content: flex-end;
	}

	.flex-md-center-end {
	    align-items: center;
	    align-content: center;
	    justify-content: flex-end;
	}

	.flex-md-center-start {
	    align-items: center;
	    align-content: center;
	    justify-content: flex-start;
	}
}

.dropdown {
    .dropdown-toggle {
        border-color: color(grey-light);
        background-color: color(white);
        color: color(grey-blue);
        padding: 10px;
    }
    .flag {
        width: 30px;
        margin-right: 10px;
    }
    .button-text {
        display: inline-block;
        margin-right: 10px;
        @include lato();
        font-size: 14px;
        color: color(gray-blue);
    }
    .dropdown-menu {
        box-shadow: $shadow-1;
        background-color: color(white);
        border: none;
        li {
            a {
                padding: 10px;
            }
        }
    }
    .dropdown-header {
        @include avenir(bold);
        font-size: 16px;
        color: color(grey-blue);
    }
    &.open {
        .dropdown-toggle {
            border-color: color(grey-light);
            background-color: color(grey-light);
            color: color(grey-blue);
        }
    }
}
.tooltip {
    .tooltip-inner {
        background-color: color(blue);
        box-shadow: $shadow-1;
    }
    &.bottom {
        .tooltip-arrow {
            border-bottom-color: color(blue);
        }
    }
    &.top {
        .tooltip-arrow {
            border-top-color: color(blue);
        }
    }
    &.left {
        .tooltip-arrow {
            border-left-color: color(blue);
        }
    }
    &.right {
        .tooltip-arrow {
            border-right-color: color(blue);
        }
    }
}
.popover {
    box-shadow: $shadow-1;
    max-width: 300px;
    width: 300px;
    .popover-title {
        display: none;
    }
    .popover-content {
        .popover-header {
            text-align: center;
            margin-bottom: 20px;
            margin-top: 10px;
            h3 {
                @include avenir(bold);
                font-size: 16px;
                padding: 0;
                margin: 0;
                color: color(grey-blue);
            }
        }
        .popover-body {
            margin-bottom: 20px;
            .pay-options {
                list-style: none;
                padding: 0;
                margin: 0;
                text-align: center;
                li {
                    display: inline-block;
                    margin: 10px;
                }
            }
        }
        .popover-footer {
            @include lato();
            font-size: 14px;
            text-align: center;
        }
    }
}
.pagination {
    li {
        a {
            border: none;
            @include avenir(normal);
            font-size: 14px;
        }
        &.active {
            a {
                box-shadow: none;
                @include avenir(bold);
            }
        }
    }
}
.btn, .form-control {
	outline: none;
	border-radius: 3px;
}
.form-control {
	&:hover, &:focus, &:active {
		outline: none;
		box-shadow: none;
	}
}
//Icons
.online-icon {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: color(grey);
    display: inline-block;
    &.online {
        background-color: color(green);
    }
    &.icon-sm {
        width: 10px;
        height: 10px;
    }
}

.verify-icon {
    color: color(blue);
}

.time-icon {
    color: darken(color(grey), 5%);
}

.alert-danger {
    border-color: $brand-danger;
}

//Gradients
.gradient-green {
    background-image: $grad-green;
    color: color(white);
    &:hover {
        background-image: $grad-green;
        color: color(white);
    }
}

.borderless {
    border: none;
}

a.text-white {
    &:hover,
    &:focus,
    &:active {
        color: color(white);
        opacity: .8;
    }
}

.text-avenir {
    @include avenir(normal);
}
.text-avenir-bold {
    @include avenir(bold);
}
@include custom-class-colors(text);
@include bg-brand-colors();
@include displays();

@for $i from 0 through 100 {
    $width-pct: $i * 1%;
    $width-px: $i * 1px;
    .w-#{$i} {
        width: $width-pct;
    }
    .m-#{$i} {
        margin: $width-px;
    }
    .m-t-#{$i} {
        margin-top: $width-px;
    }
    .m-r-#{$i} {
        margin-right: $width-px;
    }
    .m-b-#{$i} {
        margin-bottom: $width-px;
    }
    .m-l-#{$i} {
        margin-left: $width-px;
    }
    .p-#{$i} {
    	padding: $width-px;
    }
    .p-t-#{$i} {
    	padding-top: $width-px;
    }
    .p-r-#{$i} {
    	padding-right: $width-px;
    }
    .p-b-#{$i} {
    	padding-bottom: $width-px;
    }
    .p-l-#{$i} {
    	padding-left: $width-px;
    }
}
@media (min-width: $screen-sm-min) {
	@for $i from 0 through 100 {
	    $width-pct: $i * 1%;
	    $width-px: $i * 1px;
	    .w-sm-#{$i} {
	        width: $width-pct;
	    }
	    .m-sm-#{$i} {
	        margin: $width-px;
	    }
	    .m-sm-t-#{$i} {
	        margin-top: $width-px;
	    }
	    .m-sm-r-#{$i} {
	        margin-right: $width-px;
	    }
	    .m-sm-b-#{$i} {
	        margin-bottom: $width-px;
	    }
	    .m-sm-l-#{$i} {
	        margin-left: $width-px;
	    }
	    .p-sm-#{$i} {
	    	padding: $width-px;
	    }
	    .p-sm-t-#{$i} {
	    	padding-top: $width-px;
	    }
	    .p-sm-r-#{$i} {
	    	padding-right: $width-px;
	    }
	    .p-sm-b-#{$i} {
	    	padding-bottom: $width-px;
	    }
	    .p-sm-l-#{$i} {
	    	padding-left: $width-px;
	    }
	}
}
@media (min-width: $screen-md-min) {
	@for $i from 0 through 100 {
	    $width-pct: $i * 1%;
	    $width-px: $i * 1px;
	    .w-md-#{$i} {
	        width: $width-pct;
	    }
	    .m-md-#{$i} {
	        margin: $width-px;
	    }
	    .m-md-t-#{$i} {
	        margin-top: $width-px;
	    }
	    .m-md-r-#{$i} {
	        margin-right: $width-px;
	    }
	    .m-md-b-#{$i} {
	        margin-bottom: $width-px;
	    }
	    .m-md-l-#{$i} {
	        margin-left: $width-px;
	    }
	    .p-md-#{$i} {
	    	padding: $width-px;
	    }
	    .p-md-t-#{$i} {
	    	padding-top: $width-px;
	    }
	    .p-md-r-#{$i} {
	    	padding-right: $width-px;
	    }
	    .p-md-b-#{$i} {
	    	padding-bottom: $width-px;
	    }
	    .p-md-l-#{$i} {
	    	padding-left: $width-px;
	    }
	}
}
@media (min-width: $screen-lg-min) {
	@for $i from 0 through 100 {
	    $width-pct: $i * 1%;
	    $width-px: $i * 1px;
	    .w-lg-#{$i} {
	        width: $width-pct;
	    }
	    .m-lg-#{$i} {
	        margin: $width-px;
	    }
	    .m-lg-t-#{$i} {
	        margin-top: $width-px;
	    }
	    .m-lg-r-#{$i} {
	        margin-right: $width-px;
	    }
	    .m-lg-b-#{$i} {
	        margin-bottom: $width-px;
	    }
	    .m-lg-l-#{$i} {
	        margin-left: $width-px;
	    }
	    .p-lg-#{$i} {
	    	padding: $width-px;
	    }
	    .p-lg-t-#{$i} {
	    	padding-top: $width-px;
	    }
	    .p-lg-r-#{$i} {
	    	padding-right: $width-px;
	    }
	    .p-lg-b-#{$i} {
	    	padding-bottom: $width-px;
	    }
	    .p-lg-l-#{$i} {
	    	padding-left: $width-px;
	    }
	}
}
.col-xs-1-half {
	width: ((100 / 12) * 1.5) * 1%;
}
@media (min-width: $screen-sm-min) {	
	.col-sm-1-half {
		width: ((100 / 12) * 1.5) * 1%;
	}
}
@media (min-width: $screen-md-min) {
    $md15w: (100 / 5) * 1%;
    .col-md-1-5 {
        width: $md15w;
    }
    .col-md-1-half {
    	width: ((100 / 12) * 1.5) * 1%;
    }

    @for $i from 1 to 10 {
        .col-md-#{$i}-10 {
            width: ($i*10) * 1%;
        }
    }
}

@media (max-width: $screen-xs-max) {
	@for $i from 1 to 10 {
		.order-xs-#{$i} {
			order: $i;
		}
	}
}
