$font-scheme: (
  lato: 'Lato',
  avenir: 'Avenir'
);
$font-lato: map-get($font-scheme, lato);
$font-avenir: map-get($font-scheme, avenir);

@mixin avenir($weight) {
  @if $weight == 'bold' {
    font-family: #{$font-avenir}, sans-serif;
    font-weight: 900;
  }
  @if $weight == 'normal' {
    font-family: #{$font-avenir}, sans-serif;
    font-weight: 400;
  }
}
@mixin lato($weight: 400) {
  font-family: #{$font-avenir}, sans-serif;
  font-weight: $weight;
}

//Colors
$color-scheme: (
  grey-lighter: #fbfbfb,
  grey-light: #e1ebf7,
  grey: #a0a7b6,
  grey-dark: #666666,
  grey-darker: #333333,
  grey-blue: #525e7f,
  blue: #287dcc,
  blue-2: #3b7dcc,
  green: rgb(0, 186, 117),
  green-2: rgb(0, 185, 0),
  red: rgb(252, 0, 88),
  yellow: #fcb033,
  orange: #fb7146,
  black: #181818,
  white: #ffffff
);
$blue: map-get($color-scheme, blue);
$blue-2: map-get($color-scheme, blue);

//Bootstrap Config
$brand-primary: $blue;
$brand-danger: map-get($color-scheme, red);
$brand-success: map-get($color-scheme, green);
$font-family-sans-serif: #{$font-lato}, sans-serif;
$headings-font-family: #{$font-avenir}, sans-serif;
$headings-font-weight: 900;

$grad-green: linear-gradient(
  135deg,
  map-get($color-scheme, green) 0%,
  map-get($color-scheme, green-2) 100%
);
$grad-blue: linear-gradient(
  135deg,
  map-get($color-scheme, blue) 0%,
  map-get($color-scheme, blue-2) 100%
);
$grad-blue-red: linear-gradient(
  135deg,
  map-get($color-scheme, blue) 0%,
  map-get($color-scheme, red) 100%
);
$grad-yellow-orange: linear-gradient(
  135deg,
  map-get($color-scheme, yellow) 0%,
  map-get($color-scheme, orange) 100%
);
// Brands colors
$color-scheme-brands: (
  facebook: $bc-facebook,
  twitter: $bc-twitter,
  instagram: $bc-instagram,
  youtube: $bc-youtube,
  vimeo: $bc-vimeo-2,
  google: $bc-google,
  linkedin: $bc-linkedin,
  pinterest: $bc-pinterest,
  dribbble: $bc-dribbble-2,
  behance: $bc-behance,
  whatsapp: $bc-whatsapp-3,
  messenger: $bc-messenger,
  github: $bc-github
);
$facebook: map-get($color-scheme-brands, facebook);
$facebook-invert: findColorInvert($facebook);
$twitter: map-get($color-scheme-brands, twitter);
$twitter-invert: findColorInvert($twitter);
$instagram: map-get($color-scheme-brands, instagram);
$instagram-invert: findColorInvert($instagram);
$youtube: map-get($color-scheme-brands, youtube);
$youtube-invert: findColorInvert($youtube);
$vimeo: map-get($color-scheme-brands, vimeo);
$vimeo-invert: findColorInvert($vimeo);
$google: map-get($color-scheme-brands, google);
$google-invert: findColorInvert($google);
$linkedin: map-get($color-scheme-brands, linkedin);
$linkedin-invert: findColorInvert($linkedin);
$pinterest: map-get($color-scheme-brands, pinterest);
$pinterest-invert: findColorInvert($pinterest);
$dribbble: map-get($color-scheme-brands, dribbble);
$dribbble-invert: findColorInvert($dribbble);
$behance: map-get($color-scheme-brands, behance);
$behance-invert: findColorInvert($behance);
$whatsapp: map-get($color-scheme-brands, whatsapp);
$whatsapp-invert: findColorInvert($whatsapp);
$messenger: map-get($color-scheme-brands, messenger);
$messenger-invert: findColorInvert($messenger);
$github: map-get($color-scheme-brands, github);
$github-invert: findColorInvert($github);
// Generic
$body-size: 14px;
// Shadows
$shadow-1: 6px 6px 12px rgba(black, 0.1);
//Displays
$display-scheme: (
  block,
  inline-block,
  none,
  flex
);


$trading-item-gutter: 20px;
